
.fc-col-header {
    border: 1px solid #a3a3a3;
    color: #eee;
    font-weight: bold;
}

.fc-col-header a {
    color: #eee;
    text-decoration: none;
}

.fc-event {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    min-height: 25px;
    max-height: 35px;
    border: none;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

.fc-col-header-cell {
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
    background-image: url('../../assets/bg1.jpg');
    overflow-y: hidden !important;
}

.fc-col-header tbody th {
    padding-top: 4px;
    padding-bottom: 4px;
}

.fc-scrollgrid-section-body a {
    color: #222;
    text-decoration: none;
}

.fc-scrollgrid-section {
    border: 1px solid #ccc;
    background: #f9f9f9 url('https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/black-tie/images/ui-bg_highlight-hard_100_f9f9f9_1x100.png') 50% top repeat-x;
    color: #222;
}

.fc-cell-shaded {
    background-image: url('../../assets/bg1.jpg');
    border: none;
    color: #fff;
}

.fc-list-event {
    background: #fff;
}

.fc-list {
    background: #eee;
}

.fc-icon.fa {
    font: normal normal normal 14px/1 FontAwesome !important;
 }

 .fc-scrollgrid-section-header {
    overflow-y: hidden !important;
 }
 
 @media only screen and (max-width: 600px) {
    .fc .fc-toolbar-title {
        font-size: 1.25em;
    }
}

.fc .fc-button-primary {
    background-image: url('../../assets/bg1.jpg');
    border: none;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

button:disabled{
    display: none;
}

.modal-bg {
    
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    padding: 0px;
    margin:0px;
}

.modal-header {
    padding: 10px;
    margin:0px;
    padding-left:20px;
    background-color: #f1f3f4;
}

.modal-footer {
    padding: .30rem;
    background: #f1f3f4;
}

.alert {
    margin-bottom: 0px;
    padding: .35rem .85rem;
}

.input100 {
    height:  45px !important;
}

/* edit event*/
.edit-event-actions {
    width: 100%;
}

.event-action {
    float: right;
    margin-left: 20px;
    margin-top: 5px;
}

.event-info {
    margin:5px;
    padding:5px;
}