
/* selection refinement css */

.refinement-search {
    box-sizing: border-box;
    margin: 15px auto;
    font-style: italic;
    border-radius: 6px;
    border: 1px solid #d2d2d2;
    background-color: white;
}

.selection-item label {
    font-weight: 400;
    padding: 5px 10px;
    margin-left: 30px;
    border-radius: 0px;
    border: none;
    width: 100%;
    display: block;
    box-sizing: border-box;
} 

.navigator {
    margin-top: -20px;
    margin-bottom: 50px;
}

.MuiStepper-root {
    padding: 0px !important;
}

.MuiStepIcon-root.MuiStepIcon-active {
    color: #09c !important;
}

.MuiStepIcon-root.MuiStepIcon-completed {
    color: #09c !important;
}

.toggleswitch-margin-top {
    margin-top: 30px;
}