@using MyCalendar.Helpers


<br />
<br />
<br />
<div id="er-neworder" data-subsiteroot="/" data-contentroot="http://localhost:53822/errandrunner/neworder"></div>
@*<div id="root" data-subsiteroot="/" data-contentroot=""></div>*@
@Scripts.Render($"~/React/dist/bundle.js")

