
@{
    ViewBag.Title = "ChangeLog";
}

<h2>ChangeLog</h2>

<dl class="row">
    <dt class="col-sm-3">v1.2.0</dt>
    <dd class="col-sm-9">Various changes/improvements including added changelog, began adding functionality for cronofy calendar integration, authentication using cookie, prevent updating or removing event not created by the user </dd>
    <dt class="col-sm-3 text-truncate">v1.1.9</dt>
    <dd class="col-sm-9">Add functionality to display overview info for time spent in each date filtered by date, also add popover for events</dd>
    <dt class="col-sm-3">v1.1.8</dt>
    <dd class="col-sm-9">Fixes for timezone, tags and showing live activity, notify 4 hours prior to start in current activity. Style changes with new calendar theme</dd>
    <dt class="col-sm-3">v1.1.7</dt>
    <dd class="col-sm-9">Show current activity at calendar head, option to select times ones for all events in scheduler, display events according to shared, public or private tags.</dd>
</dl>