@model Appology.Website.ViewModels.AvatarVM
@using Appology.MiCalendar.Helpers
@using Appology.Enums
@using Appology.Helpers

@using (Html.BeginForm(Url.MvcRoute(Section.UpdateAvatar).ActionName, Url.MvcRoute(Section.UpdateAvatar).ControllerName))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(s => Model.Avatar)
        @if (string.IsNullOrEmpty(Model.Avatar))
        {
            <p default-avatar="@CalendarUtils.AvatarSrc(Model.UserId, Model.Avatar, Model.Name)"></p>
        }
        else
        {
            <img src="@CalendarUtils.AvatarSrc(Model.UserId, Model.Avatar, Model.Name)" width="40" height="40" type="image/svg+xml" />
        }
        <span>Select a pre-avatar</span>
        <div style="overflow-y: scroll; height:150px;">
            @foreach (var avatar in Model.PreAvatars)
            {
                <img src="~/Content/img/avatar/pk1/@Path.GetFileName(avatar)" width="40" height="40" type="image/svg+xml" />
            }
        </div>
        <span>Or create your own!</span>
        <div>
            <iframe src="https://avatares.info/#svga-start-overlay" width="100%" height="670" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
        </div>
    </div>

}