.sidenav---sidenav-subnav---1EN61 > .sidenav---sidenav-subnavitem---1cD47.sidenav---selected---1EK3y > .sidenav---navitem---9uL5T {
    color: #222 !important;
    font-weight: normal !important;

}

.sidenav---sidenav---_2tBP {
    margin-top: 90px;
    background: #111;
    height: 768px;
}

.sidenav---sidenav-subnav---1EN61 {
    background: #111;
    color: #fff;
}

.sidenav---navtext---1AE_f {
    color: #fff;
}


.sidenav---sidenav-subnav---1EN61 > .sidenav---sidenav-subnavitem---1cD47 > .sidenav---navitem---9uL5T:hover {
    background-color: #000;
    color: #fff;
}

.sidenav-divider {
    margin-top: 5px;
    line-height: 48px;
    border-bottom: 1px #ccc solid;
    font-size: 14px;
    font-weight: normal;
}