@model Appology.Website.Areas.MiCalendar.ViewModels.CalendarVM
@using Appology.Website.ViewModels
@using Appology.Enums
@using Appology.Helpers
@{
    var baseModel = ViewData[nameof(BaseVM)] as BaseVM;
}

@Html.Partial("_Status", baseModel)

@if (Model.UserCalendars == null || !Model.UserCalendars.Any())
{
    <div class="alert alert-info alert-dismissible fade show">
        <h5 class="alert-heading"><i class="fa fa-info-circle"></i> No calendars added</h5>
        <p>Add at least one Calendar in <a href="@Url.MvcRouteUrl(Section.Profile)">Settings</a>.</p>
    </div>
}
else
{
    @Html.Partial("_ReactApp", new ReactAppVM
    {
        App = "fullcalendar",
        Desc = "MiCalendar App ©",
        Version = "2.0.3"
    })
}
