@model Appology.Website.Areas.MiCalendar.ViewModels.CalendarVM
@using Appology.Website.ViewModels
@{
    var baseModel = ViewData[nameof(BaseVM)] as BaseVM;
}

@Html.Partial("_Status", baseModel)

@if (Model.UserCalendars == null || !Model.UserCalendars.Any())
{
    <div class="alert alert-info alert-dismissible fade show">
        <h4 class="alert-heading"><i class="fa fa-info-circle"></i> No calendars added</h4>
        <p>Add at least one Calendar in <a href="/settings/">Settings</a> under Groups.</p>
    </div>
}
else
{ 
    @Html.Partial("_ReactApp", new ReactAppVM
    {
        App = "fullcalendar",
        Version = "5.0.1"
    })
}
