@model Appology.Website.ViewModels.ReactAppVM

<div id="root"></div>
<span class="react-app-footer">
    v@(Model.Version)
</span>
<br />

@Scripts.Render($"~/Scripts/dist/{Model.App}/bundle.js?v={Model.Version}")
