<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings>
    <add key="DFM.ExceptionHandling.Sentry.Url" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="https://9f2dd980d4b04fd0bf1f4fa12cea2c34@sentry.io/5419768" />
    <add key="DFM.ExceptionHandling.Sentry.Environment" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="Stage" />
  </appSettings>
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
             name="SQLConnectionString"
             connectionString="Data Source=sql5080.site4now.net;Initial Catalog=DB_A55CDA_mycalendar;User Id=DB_A55CDA_mycalendar_admin;Password=xra63400"
             providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
